.button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  transition: opacity .3s;
  padding: 0;
}

.button:hover {
   opacity: .800000011920929;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3DDC84;
}
