.about {
  width: calc(100% - 140px);
  margin: auto;
  padding: 110px 0;
}

.about__facts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
}

.about__fact-title {
  font-size: 20px;
}

.about__fact-text {
  display: block;
  width: 550px;
  line-height: 20px;
  margin-top: 26px;
}

.about__scale-container {
  margin-top: 110px;
  display: grid;
  grid-template-rows: repeat(2, 38px);
  grid-template-columns: 1fr 4fr;
}

.about__scale-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__scale-block_green {
  background-color: #3DDC84;
  color: #000;
}

.about__scale-block_grey {
  background-color: #303030;
}

.about__scale-block_transparent {
  color: #8B8B8B;
  font-weight: 500;
  line-height: 17px;
  align-self: end;
}
