.portfolio {
  width: calc(100% - 140px);
  margin: auto;
  padding-bottom: 90px;
}

@media screen and (max-width: 768px){
  .portfolio {
    width: calc(100% - 100px);
    padding-bottom: 55px;
  }
}

@media screen and (max-width: 540px){
  .portfolio {
    width: calc(100% - 28px);
    padding-bottom: 50px;
  }
}

.portfolio__title {
  color: #8B8B8B;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 540px){
  .portfolio__title {
    color: #A0A0A0;
    font-size: 14px;
  }
}

.portfolio__list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

@media screen and (max-width: 540px){
  .portfolio__list {
    margin: 40px 0 0 0;
  }
}

.portfolio__list_item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 19px;
}

.portfolio__list-item:first-child{
  margin-top: 50px;
}

@media screen and (max-width: 540px){
  .portfolio__list-item:first-child {
    margin-top: 40px;
  }
}

.portfolio__list-item-link {
  cursor: pointer;
  background-image: url(../../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 60px;
}

@media screen and (max-width: 540px){
  .portfolio__list-item-link {
    width: 18px;
    height: 28px;
    background-image: url(../../../images/arrow-480px.svg);
  }
}

.portfolio__list-item-name {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
}

@media screen and (max-width: 768px){
  .portfolio__list-item-name {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 540px){
  .portfolio__list-item-name {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-top: 0;
  }
}

@media screen and (max-width: 540px){
  .portfolio__list-item:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 540px){
  .portfolio__list-item {
    margin-top: 20px;
  }
}
