.techs {
  background-color: #272727;
  padding: 100px 0;
}

@media screen and (max-width: 768px){
  .techs {
    padding: 80px 0;
  }
}

@media screen and (max-width: 480px){
  .techs {
    background-color: transparent;
    padding: 60px 0;
  }
}

.techs__container {
  width: calc(100% - 140px);
  margin: auto;
}

@media screen and (max-width: 768px){
  .techs__container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 480px){
  .techs__container {
    width: calc(100% - 28px);
  }
}

.techs__block {
  display: flex;
  flex-direction: column;
}

.techs__title {
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: 90px;
}

@media screen and (max-width: 768px){
  .techs__title {
    margin-top: 80px;
  }
}

@media screen and (max-width: 480px){
  .techs__title {
    color: #FFF;
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-top: 50px;
  }
}

.techs__text {
  display: block;
  width: 460px;
  margin: auto;
  text-align: center;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin-top: 26px;
}

@media screen and (max-width: 768px){
  .techs__text {
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 560px){
  .techs__text {
    width: 100%;
    line-height: 16px;
    letter-spacing: -0.44px;
    margin-top: 14px;
  }
}

.techs__block-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto 0;
  gap: 10px;
}

@media screen and (max-width: 768px){
  .techs__block-list {
    margin-top: 83px;
  }
}

@media screen and (max-width: 480px){
  .techs__block-list {
    margin-top: 50px;
  }
}

@media screen and (max-width: 320px){
  .techs__block-list {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.techs__block-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  color: #FFF;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 768px){
  .techs__block-list-item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 480px){
  .techs__block-list-item {
  }
}
