.about-me {
  width: calc(100% - 140px);
  margin: auto;
  padding: 100px 0 110px;
}

.about-me__block {
  display: grid;
  grid-template-columns: 600px 270px;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

.about-me__describe {
  display: flex;
  flex-direction: column;
}

.about-me__title-name {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__title-info {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 18px;
}

.about-me__title-essey {
  line-height: 22px;
  margin-top: 26px;
}

.about-me__link {
  color: #FFF;
  font-size: 14px;
  line-height: normal;
  margin-top: 99px;
}
